body {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
h1{
    color:goldenrod;
}

#quiz-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

#options button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

#options button:hover {
    background-color: #ddd;
}

#submit-btn, #next-btn {
    padding: 10px 20px;
    background-color: #4562d5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover, #next-btn:hover {
    background-color: #147119;
}
